## VIM
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

## PYTHON
# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
# mkdocs documentation
/site


